{% extends "admin_base.html" %}
{% block title %}Admin - PlayHub32{% endblock %}

{% block main_content %}
    <div style="text-align:center;margin-top:14vw;">
        <h1 style="color:#13ffe2; font-size:2.3em; letter-spacing:2px; text-shadow:0 0 40px #13ffe2bb;">
            Bienvenue dans l’espace admin PlayHub32
        </h1>
        <p style="font-size:1.2em;color:#ff9f29c0; margin-top:20px;">
            Sélectionnez une tâche à gauche pour démarrer 🎮
        </p>
    </div>
{% endblock %}
